@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
.page {
  padding-top: 100px;
}
.dashboardPage {
  padding-top: 80px;
}
.photosearch {
  padding-top: 0 !important;
}

html, body{
  height: 100%;
  width: 100%;
}
.page{
  height: 100%; 
  width: 100%;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: #324053;
  display: flex;
  justify-content: center;
}