.container {
    max-width: 800px;
    margin: 0 auto;
}

.cardsRow {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    padding: 0 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cellLeft,
.cellLabel,
.cellRight {
    width: 30%;
    font-size: 14px;
    color: #343472;
    position: relative;
    text-decoration: underline;
    text-decoration-color: #666;
}

.cellLabel {
    font-weight: 600;
}

.cellLeft,
.cellRight {
    padding: 0 20px;
}

.cellLeft::before,
.cellRight::before {
    content: "✕";
    position: absolute;
    color: #666;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellLeft::before {
    left: 10px;
}

.cellLabel::before,
.cellLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border: 1px solid #343472;
}

.cellLabel::before {
    left: 0;
    border-left-width: 1px;
}

.cellLabel::after {
    right: 0;
    border-right-width: 1px;
}