.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.cardsRow {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    padding: 0 10px;
    position: relative;
}

.table::before,
.table::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #343472;
}

.table::before {
    left: 30%;
}

.table::after {
    left: 70%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4px 0;
}

.cellLeftWrapper,
.cellRight {
    width: 30%;
    position: relative;
    font-size: 14px;
    color: #343472;
}

.cellLeftWrapper {
    padding-left: 35px;
    position: relative;
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
}

.clearButton {
    font-size: x-small;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cellLeftWrapper::before {
    content: "✕";
    font-size: x-small;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellLeftInput {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #343472;
}

.cellLabel {
    width: 40%;
    position: relative;
    font-weight: 600;
    color: #343472;
}

.cellRight {
    text-decoration: none;
    word-wrap: break-word;
}