.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compareLink, .expectedText, .reportButton {
    font-size: 14px;
}

.compareLink {
    position: relative;
    margin-right: 10px;
    color: #888787;
    text-decoration: none;
    float: right;
}

.reportContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 8px 16px;
    gap: 8px;
}

.expectedText {
    color: #333;
}

.reportButton {
    background-color: #FF5050;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 600;
}