.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('/assets/BG.png') center center no-repeat;
  background-size: cover;
}

.topBar, .bottomBar {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.topBar {
  top: 0;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

.bottomBar {
  bottom: 0;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
}

.iconButton, .backButton {
  background: none;
  border: none;
  cursor: pointer;
}

.backButton img {
  width: 30px;
  height: 3em;
}

.iconButton img {
  width: 100%;
  height: 30px;
}

.focusSquare {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 6px;
}

.cameraButton {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}