.pill {
    background-color: #e5e5e5;
    color: #000;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
    cursor: default;
    user-select: none;
    display: inline-block;
}

.pill:hover {
    filter: brightness(0.95);
}

.selected {
    background-color: #579076;
    color: #fff;
    cursor: pointer;
}
