.searchBarContainer {
  position: relative;
  margin: 15px;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.inputContainer {
  position: relative;
  flex: 1;
}

.searchIcon,
.clearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.searchIcon {
  left: 12px;
  color: #979797;
}

.inputContainer input {
  width: 100%;
  padding: 8px 12px 8px 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #000000;
}

.clearButton {
  right: 8px;
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #000000;
  pointer-events: auto;
}

.filterIcon {
  font-size: 18px;
  cursor: pointer;
  color: #579076;
}