.searchBar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputContainer {
  position: relative;
  flex: 1;
}

.inputContainer input {
  width: 100%;
  padding: 8px 12px 8px 40px;
  border-radius: 20px;
}

.inputContainer svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #979797;
}
.filterIcon {
  color: #579076;
}

